@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --white-color: #fff;
  --black-color: #000;
  --background-dark-brown: #33292a;
  --background-medium-brown: #644b4f;
  --background-light-grey: #f2f2f2;
  --footer-color: #333333;
  --link-color: #efa69d;
  --link-hover-color: #e9877b;
  --border-radius: 5px;
  --h1-size-mobile: 42px;
  --h1-size-tablet: 64px;
  --h1-size-desktop: 96px;
  --h2-size-mobile: 32px;
  --h2-size-tablet: 54px;
  --h3-size-tablet: 32px;
  --h3-size-mobile: 24px;
  --title-weight: 700;
  --regular-paragraph-font-size: 16px;
  --regular-paragraph-font-weight: 400;
  --text-line-height: 1.5;
}

* {
  /* default reset*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.nav-list {
  /*hide navigation items*/
  display: none;
}

.navigation {
  /*navigation container*/
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--background-dark-brown);
  color: var(--white-color);
  padding: 22px 10px;
}
/*hamburger icon*/
.icon {
  width: 42px;
  height: 32px;
  margin-left: auto;
  margin-right: 16px;
}

.icon img {
  width: 100%;
  height: 100%;
}

/**styles for hero section**/
#hero-section {
  background-image: url(assets/images/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  height: calc(100vh - 62px);
}

.hero-title {
  position: absolute;
  right: 26px;
  bottom: 38px;
  color: var(--white-color);
  font-size: var(--h1-size-mobile);
  font-weight: var(--title-weight);
  text-align: right;
  display: inline-block;
  white-space: normal;
}

.hero-title span {
  display: block;
}

/*about us section*/
#about-us-section {
  padding: 66px 26px 84px 30px;
}

.about-us-title {
  font-size: var(--h2-size-mobile);
  font-weight: var(--title-weight);
  color: var(--black-color);
  margin-bottom: 24px;
}

.about-us-text {
  font-size: var(--regular-paragraph-font-size);
  font-weight: var(--regular-paragraph-font-weight);
  color: var(--black-color);
  margin-bottom: 24px;
  line-height: var(--text-line-height);
}

.about-us-image-container {
  width: 332px;
  height: auto;
  margin: 0 auto;
}
.about-us-img {
  height: 100%;
  width: 100%;
}

/*misson section*/

#misson-section {
  background-color: var(--background-dark-brown);
  padding: 66px 26px 0px 30px;
  text-align: center;
}

.mission-title,
.contact-us-title {
  font-size: var(--h2-size-mobile);
  font-weight: var(--title-weight);
  color: var(--white-color);
  margin-bottom: 24px;
}

.mission-text {
  font-size: var(--regular-paragraph-font-size);
  font-weight: var(--regular-paragraph-font-weight);
  color: var(--white-color);
  margin-bottom: 52px;
  line-height: var(--text-line-height);
}

.mission-image-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.mission-img {
  width: 80px;
  height: 80px;
  margin-bottom: 16px;
}

.icon-text {
  font-size: var(--h3-size-mobile);
  font-weight: var(--title-weight);
  color: var(--white-color);
}

.icon-wrapper {
  margin-bottom: 50px;
}

/*gallery section*/
.gallery-img-1 {
  grid-area: a;
}

.gallery-img-2 {
  grid-area: b;
}

.gallery-img-3 {
  grid-area: c;
}

.gallery-img-4 {
  grid-area: d;
}

.gallery-img-5 {
  grid-area: e;
}

.gallery-img-6 {
  grid-area: f;
}

.gallery-img-7 {
  grid-area: g;
}

.gallery-img-8 {
  grid-area: h;
}

.rectangle {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-area: r;
  height: 80px;
  width: 100%;
  background-color: var(--background-light-grey);
  color: var(--black-color);
  font-size: var(--h3-size-mobile);
  font-weight: var(--title-weight);
}

#gallery-section img,
#images-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#gallery-section img,
.rectangle {
  border-radius: var(--border-radius);
}

#gallery-section {
  padding: 66px 26px 80px 30px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  justify-items: center;
  align-items: center;

  grid-template-rows: repeat(4, 222px) auto repeat(4, 222px);

  grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "r"
    "e"
    "f"
    "g"
    "h";
}

/*contact us section*/
#contact-us-section {
  padding: 66px 26px 80px 30px;
  background-color: var(--background-medium-brown);
}

.contact-us-text {
  padding-top: 20px;
  font-size: var(--regular-paragraph-font-size);
  font-weight: var(--regular-paragraph-font-weight);
  color: var(--white-color);
  line-height: var(--text-line-height);
}

button {
  background-color: var(--background-light-grey);
  font-size: 14px;
  font-weight: var(--title-weight);
  width: 133px;
  height: 44px;
  border-radius: var(--border-radius);
  margin-top: 60px;
}
button:hover {
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--background-dark-brown);
}

/*review section*/

.reviews-title {
  font-size: var(--h2-size-mobile);
  font-weight: var(--title-weight);
  color: var(--black-color);
  margin-bottom: 24px;
}

.review-text,
.review-initial-text {
  color: var(--black-color);
  font-size: var(--regular-paragraph-font-size);
  font-weight: var(--regular-paragraph-font-weight);
  line-height: var(--text-line-height);
}

.review-initial-text {
  margin-bottom: 72px;
}

.review-img-wrapper {
  height: 111px;
  width: 111px;
  margin: 32px auto;
}

.review-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

#reviews-section {
  padding: 66px 26px 52px 30px;
  text-align: center;
}

.reviewer {
  font-size: var(--regular-paragraph-font-size);
  font-weight: var(--title-weight);
  margin-top: 32px;
  margin-bottom: 56px;
}

/*4 images section*/

.img-1 {
  grid-area: w;
}

.img-2 {
  grid-area: s;
}

.img-3 {
  grid-area: z;
}

.img-4 {
  grid-area: t;
}

#images-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 260px;
  object-fit: cover;

  grid-template-areas:
    "w"
    "s"
    "z"
    "t";
}

footer {
  background-color: var(--footer-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0px 30px 0px;
}
footer p {
  color: var(--white-color);
  font-size: 10px;
  font-weight: var(--title-weight);
}

.footer-link {
  margin-bottom: 8px;
  color: var(--link-color);
  font-size: 12px;
  font-weight: var(--title-weight);
  text-decoration: underline;
}

.footer-link:hover {
  color: var(--link-hover-color);
  text-decoration: none;
}
@media (min-width: 768px) {
  /*rules for displays that are above 768px*/
  .hero-title {
    font-size: var(--h1-size-tablet);
    right: 32px;
  }
  #about-us-section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 20px;
  }
  #hero-section,
  #about-us-section,
  #mission-section,
  #contact-us-section,
  #gallery-section {
    padding-left: 52px;
    padding-right: 42px;
  }
  .about-us-title,
  .mission-title {
    font-size: var(--h2-size-tablet);
  }
  .about-us-image-container,
  .about-us-wrapper {
    flex: 1 1 50%;
  }
  .about-us-img {
    object-fit: cover;
  }

  .mission-image-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .mission-img {
    width: 50px;
    height: 50px;
  }
  .icon-text {
    font-size: var(--h3-size-tablet);
  }

  #gallery-section {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 252px);
    grid-template-areas:
      "a b c"
      "d r e"
      "f g h";
  }
  .rectangle {
    font-size: var(--h2-size-tablet);
    height: 100%;
    text-align: center;
  }
  .contact-us-text {
    padding: 0;
  }
  #contact-us-section {
    display: flex;
    flex-wrap: nowrap;
    gap: 42px;
  }
  .contact-us-title {
    flex: 1 1 30%;
    font-size: var(--h2-size-tablet);
  }
  .contact-us-texts {
    flex: 1 1 70%;
  }

  .reviews-title {
    font-size: var(--h2-size-tablet);
  }
  .review-initial-text {
    padding: 0 110px;
  }
  .reviews-wrapper {
    display: flex;
    gap: 16px;
  }

  #images-section {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 320px;
    grid-template-areas:
      "w s"
      "z t";
  }
}

@media (min-width: 992px) {
  /*rules for displays that are above 992px*/
  .icon {
    display: none;
  }
  .nav-container {
    position: relative;
  }

  .nav-list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
  }

  .nav-item a {
    color: var(--white-color);
    text-decoration: none;
  }

  .nav-item a:hover {
    text-decoration: underline;
  }

  .hero-title {
    font-size: var(--h1-size-desktop);
  }

  .about-us-title,
  .mission-title,
  .rectangle,
  .contact-us-title,
  .reviews-title {
    font-size: var(--h2-size-mobile);
  }
}
